<p class="fs-2"
   data-toggle="tooltip" 
   data-placement="top"
   title="Last update from service: <%= @update_date%>">
  пол: <%=@gender_hash[@sex]%>
</p>

<script>
var date =function () {
  $('[data-toggle="tooltip"]').tooltip()
}
</script>